<nav>
    <div class="logo">
      <a routerLink="/">Nom Exemple</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li class="dropdown">
        <a href="#">Café</a>
        <div class="dropdown-content">
          <a routerLink="/cafes">Nos cafés</a>
          <a routerLink="/thes">Nos thés</a>
          <a routerLink="/snacks">Snacks</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Bar</a>
        <div class="dropdown-content">
          <a routerLink="/alcools">Nos alcools</a>
          <a routerLink="/sans-alcools">Nos sans alcools</a>
        </div>
      </li>
      <li><a routerLink="/team">L'équipe</a></li>
    </ul>
  </nav>
  