<div class="container">
  <div class="img-container">
    <img src="assets/cafe_picture.png" alt="Café picture">
  </div>
  <div class="text-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ornare elit. Nunc eu elit ac sapien interdum commodo eget ut magna. Donec vel augue sed neque bibendum vehicula at at nulla. Curabitur tincidunt, quam eu fermentum ullamcorper, nulla nulla tincidunt turpis, sit amet elementum augue ipsum at sapien. Fusce posuere eleifend luctus. Ut tincidunt eu enim eu feugiat.</p>
    <p>Vestibulum volutpat tincidunt velit sed vestibulum. Sed id posuere augue. Sed malesuada, lectus a dictum efficitur, ex nunc faucibus justo, eget euismod velit velit vitae enim. Donec pulvinar orci eu quam bibendum posuere. Nullam tincidunt libero et leo elementum lobortis. Vestibulum tempus erat vitae nulla lacinia, quis placerat magna lacinia. Nunc euismod tincidunt mauris quis suscipit.</p>
    <p>Nunc vestibulum ligula vel ultrices sagittis. Maecenas dignissim risus vitae massa euismod, ut hendrerit enim dignissim. Ut interdum elit at augue tincidunt, et consequat turpis semper. Suspendisse potenti. Integer tristique auctor nisi. Suspendisse convallis erat velit, a iaculis orci finibus sed. Nam convallis dolor eget lacus mollis faucibus. Donec suscipit sapien at orci pellentesque, sit amet egestas velit convallis.</p>
  </div>
</div>
