<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="cafe_picture.png" alt="Café picture">
      </div>
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sapien vel leo fermentum vestibulum. Fusce euismod tellus mauris, in ullamcorper arcu ullamcorper vel. Vestibulum vitae interdum lacus. Sed euismod vestibulum mi, vitae lacinia massa consequat id. Sed commodo vestibulum felis eget porttitor. Fusce consequat finibus turpis, in fringilla odio vehicula sit amet. Nunc at quam et purus eleifend pulvinar. Etiam commodo mi vel dolor rhoncus venenatis. Sed molestie eros a sapien faucibus, nec gravida nunc lobortis. Maecenas semper enim vitae mi dapibus, ac semper magna commodo. In hac habitasse platea dictumst. Vivamus non luctus elit.</p>
      </div>
    </div>
  </div>
    