<div class="container">
    <div class="member-container">
      <img src="assets/moi.png" alt="Me">
      <h2>Me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ornare elit. Nunc eu elit ac sapien interdum commodo eget ut magna.</p>
    </div>
    <div class="member-container">
      <img src="assets/elle.png" alt="Her">
      <h2>Her</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ornare elit. Nunc eu elit ac sapien interdum commodo eget ut magna.</p>
    </div>
    <div class="member-container">
      <img src="assets/lui.png" alt="Him">
      <h2>Him</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ornare elit. Nunc eu elit ac sapien interdum commodo eget ut magna.</p>
    </div>
  </div>
  